#!/usr/bin/make -f
export DH_VERBOSE = 1
FLUTTER ?= flutter
CARGO_INSTALL_DIR := $(CURDIR)/.cargo-install
GTK_LAYER_SHELL_PREFIX := $(CURDIR)/.gtk-layer-shell-install
PACKAGE_ROOT := $(CURDIR)/debian/alicebar

%:
	dh $@

override_dh_auto_configure:
	export CARGO_HOME=$(CARGO_INSTALL_DIR) && \
	cargo install flutter_rust_bridge_codegen --version "=2.11.1"
	cd native && cargo fetch
	$(FLUTTER) pub get

override_dh_auto_build:
	export CARGO_HOME=$(CARGO_INSTALL_DIR) && \
	export PATH="$(CARGO_INSTALL_DIR)/bin:$$PATH" && \
	export CC=clang && export CXX=clang++ && \
	$(FLUTTER) build linux --release

override_dh_auto_install:
	install -d $(PACKAGE_ROOT)/usr/lib/alicebar
	cp -r build/linux/x64/release/bundle/. $(PACKAGE_ROOT)/usr/lib/alicebar/
	cp -a $(GTK_LAYER_SHELL_PREFIX)/lib/libgtk-layer-shell.so.0* \
		$(PACKAGE_ROOT)/usr/lib/alicebar/lib/
	install -Dm755 packaging/alicebar.sh $(PACKAGE_ROOT)/usr/bin/alicebar

override_dh_auto_test:

# Flutter and Rust ELF files can contain DWARF sections unsupported by dwz.
override_dh_dwz:
	:

# Resolve the bundled gtk-layer-shell before distro library search paths.
override_dh_shlibdeps:
	dh_shlibdeps -l$(PACKAGE_ROOT)/usr/lib/alicebar/lib
