#!/usr/bin/make -f
export DH_VERBOSE = 1
FLUTTER ?= flutter
CARGO_INSTALL_DIR := $(CURDIR)/.cargo-install

%:
	dh $@

override_dh_auto_configure:
	export CARGO_HOME=$(CARGO_INSTALL_DIR) && \
	cargo install flutter_rust_bridge_codegen --version "=2.11.1"
	cd native && cargo fetch
	$(FLUTTER) pub get

override_dh_auto_build:
	export CARGO_HOME=$(CARGO_INSTALL_DIR) && \
	export PATH="$(CARGO_INSTALL_DIR)/bin:$$PATH" && \
	export CC=clang && export CXX=clang++ && \
	$(FLUTTER) build linux --release

override_dh_auto_install:
	install -d $(DESTDIR)/usr/lib/alicebar
	cp -r build/linux/x64/release/bundle/. $(DESTDIR)/usr/lib/alicebar/
	install -Dm755 packaging/alicebar.sh $(DESTDIR)/usr/bin/alicebar

override_dh_auto_test:
